:root {
    --bg-color: #0E0B1E;
    --btn-color: linear-gradient(21deg, #48aae9 12%, #ca6cd1 52%, #eb567a 80%);
    --shape-color: linear-gradient(180deg, #48aae9 12%, #ca6cd1 52%, #eb567a 80%);
    --btn-shadow: 0px 5px 200px 5px #ca6cd1;
    --box-shadow: 10px 5px 400px 1px #ca6cd1;
    --content-box-shadow: 0px 1px 400px 100px #ca6cd10a;
}

body {
    background-color: var(--bg-color);
}

.custom-btn {
    background-image: var(--btn-color);
    padding: 13px 50px;
    box-shadow: var(--btn-shadow);
}

.content {
    margin-top: 105px;
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #20111B #1F1655 #20111B #20111B;
    /* box-shadow: var(--content-box-shadow); */
}

.circle-shadow {
    position: absolute;
    top: 30%;
    left: 10%;
    box-shadow: var(--box-shadow);
}

.shapes {
    height: auto;
    width: 100%;
    position: relative;
    /* box-shadow: var(--content-box-shadow);
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: var(--content-box-shadow); */
}

.shape1 {
    height: 1.25rem;
    width: 150px;
    background-image: var(--shape-color);
    border-radius: 50px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.5;
    position: absolute;
    left: -50px;
    top: 200px;
}

.shape2 {
    height: 1.25rem;
    width: 100px;
    background-image: var(--shape-color);
    border-radius: 50px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: -50px;
    top: 220px;
}

.shape3 {
    height: 20px;
    width: 100px;
    background-image: var(--shape-color);
    border-radius: 50px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 425px;
    right: -50px;
}

.shape4 {
    height: 20px;
    width: 200px;
    background-image: var(--shape-color);
    border-radius: 50px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 450px;
    right: -80px;
}

.icon {
    color: #ffdef3;
    transform: rotate(45deg);
    position: absolute;
    left: -35px;
    bottom: -35px;
    z-index: -1;
}

.sm-icon {
    height: 45px;
    width: 45px;
    background-color: var(--bg-color);
    border-radius: 50%;
    color: #ca6cd1;
}

.sm-icon-color {
    background: var(--btn-color);
    background-clip: var(--btn-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dash-line {
    border: 2px dashed var(--bg-color);
}

.main__content {
    margin-top: 105px;
    position: relative;
}

.item {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #20111B #1F1655 #20111B #20111B;
    /* box-shadow: var(--content-box-shadow); */
}

.login__content {
    margin-top: 20px;
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #1F1655 #20111B #20111B;
    /* box-shadow: var(--content-box-shadow); */
}

.login__container {
    max-width: 850px;
    margin: auto;
    text-align: center;
}